.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &.loading {
    opacity: 0.3;

    button {
      pointer-events: none;
      background-color: var(--color-light--1);
      border: 1px solid var(--color-light--1);
      color: var(--color-dark--0);
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .flag {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
  }

  label {
    font-size: 12px;
    font-weight: 600;

    @include media-breakpoint-up($desktop) {
      font-size: 14px;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 10px 12px;
    font-family: inherit;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light--3);
    transition: $transition-time;

    @include media-breakpoint-up($desktop) {
      font-size: 16px;
    }

    &:focus {
      outline: none;
      background-color: #fff;
    }
  }

  :global(.react-datepicker) {
    font-family: inherit;
    font-size: 14px;
  }
}
