.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 1.3;

    @include media-breakpoint-up($desktop) {
      font-size: 45px;
    }
  }

  .text {
    margin-bottom: 32px;
    color: var(--color-light--1);
    font-size: 16px;

    @include media-breakpoint-up($desktop) {
      font-size: 18px;
    }
  }
}
