.cityItem {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  gap: 6px 12px;
  align-items: center;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 12px;
  border-left: 5px solid var(--color-brand--2);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: $transition-time;

  @include active() {
    border-left-color: var(--color-brand--1);
  }

  &--active {
    border: 2px solid var(--color-brand--2);
    border-left: 5px solid var(--color-brand--2);
  }

  @include media-breakpoint-up($desktop-xl) {
    padding: 16px 20px;
    grid-template-columns: 24px 1fr auto 24px;
  }

  .emoji {
    grid-column: 1;
    grid-row: 1;
    font-size: 24px;
    line-height: 1;
  }

  .name {
    grid-column: 2;
    grid-row: 1;
    font-size: 16px;
    font-weight: 600;
    margin-right: auto;

    @include media-breakpoint-up($desktop-xl) {
      font-size: 18px;
    }
  }

  .date {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: 14px;

    @include media-breakpoint-up($desktop-xl) {
      grid-column: 3;
      grid-row: 1;
      font-size: 16px;
    }
  }

  .deleteBtn {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: $transition-time;

    @include active() {
      background-color: var(--color-brand--1);
      color: var(--color-dark--1);
    }

    @include media-breakpoint-up($desktop-xl) {
      grid-column: 4;
      grid-row: 1;
    }
  }
}
