.textMedia {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media-breakpoint-up($tablet) {
    flex-direction: row;
    align-items: center;
  }

  @include media-breakpoint-up($desktop) {
    gap: 48px;
  }

  &.reversed {
    @include media-breakpoint-up($tablet) {
      flex-direction: row-reverse;
    }
  }

  .textWrapper {
    @include media-breakpoint-up($tablet) {
      width: calc(50% - 12px);
    }

    @include media-breakpoint-up($desktop) {
      width: calc(50% - 24px);
    }

    h1 {
      margin-bottom: 24px;
      font-size: 30px;
      line-height: 1.3;

      @include media-breakpoint-up($desktop) {
        font-size: 45px;
      }
    }

    p {
      color: var(--color-light--1);
      font-size: 16px;

      @include media-breakpoint-up($desktop) {
        font-size: 18px;
      }

      & + p {
        margin-top: 16px;
      }
    }
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;

    @include media-breakpoint-up($tablet) {
      width: calc(50% - 12px);
    }

    @include media-breakpoint-up($desktop) {
      width: calc(50% - 24px);
    }
  }
}
