.countryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 12px;
  border-left: 5px solid var(--color-brand--1);

  @include media-breakpoint-up($desktop-xl) {
    padding: 16px 24px;
    font-size: 24px;
  }

  span:first-child {
    font-size: 30px;
    line-height: 1;

    @include media-breakpoint-up($desktop-xl) {
      font-size: 40px;
    }
  }
}
