.city {
  padding: 16px;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    color: var(--color-light--1);
  }

  h2 {
    margin: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 16px;

    span {
      font-size: 24px;
      line-height: 1;
    }
  }

  p {
    font-size: 18px;
    margin: 0;
  }

  a {
    font-size: 18px;
    color: var(--color-brand--1);

    @include active() {
      text-decoration: none;
    }
  }
}
