.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media-breakpoint-up($tablet) {
    padding: 24px 20px;
  }

  &.loading {
    opacity: 0.3;

    button {
      pointer-events: none;
    }
  }

  :global(.row) {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  label {
    font-size: 12px;
    font-weight: 600;

    @include media-breakpoint-up($desktop) {
      font-size: 14px;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 10px 12px;
    font-family: inherit;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light--3);
    transition: $transition-time;

    @include media-breakpoint-up($desktop) {
      font-size: 16px;
    }

    &:has(+ span) {
      padding-right: 30px;
    }

    &:focus {
      outline: none;
      background-color: #fff;
    }
  }
}
