.app {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up($tablet) {
    flex-direction: row;
  }

  > div {
    @include media-breakpoint-up($tablet) {
      flex: 1;
    }

    &:nth-child(2) {
      @include media-breakpoint-up($desktop) {
        flex-basis: 40%;
      }
    }

    &:nth-child(3) {
      @include media-breakpoint-up($desktop) {
        flex-basis: 60%;
      }
    }
  }
}
