.sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--color-dark--1);
  padding: 32px 24px;

  @include media-breakpoint-up($desktop) {
    padding: 32px 48px;
  }
}
