.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--color-dark--1);
  padding: 32px 24px;
  height: 80vh;

  @include media-breakpoint-up($tablet) {
    height: 100vh;
  }

  @include media-breakpoint-up($desktop) {
    padding: 32px 48px;
  }

  main {
    overflow-y: auto;
    height: 100%;
  }
}
