* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Manrope, sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1248px;

  &.narrow {
    max-width: 750px;
  }
}

.cta {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 5px;
  transition: $transition-time;

  @include media-breakpoint-up($desktop) {
    font-size: 18px;
  }

  @include active() {
    background-color: var(--color-brand--2-dark);
    color: var(--color-light--2);
  }
}
