:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-brand--2-dark: #01a258;
  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

/* Breakpoints. */
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1200px;

/* Transition. */
$transition-time: 250ms;
