.mapContainer {
  position: relative;
  height: 100%;
  background-color: var(--color-dark--2);

  .map {
    height: 100%;
  }

  :global(.btn-wrapper) {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 16%);

    @include media-breakpoint-up($tablet) {
      bottom: 48px;
    }
  }

  :global(.leaflet-popup .leaflet-popup-content-wrapper) {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 10px;
  }

  :global(.leaflet-popup .leaflet-popup-content) {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  :global(.leaflet-popup .leaflet-popup-content span:first-child) {
    font-size: 30px;
    line-height: 1;
  }

  :global(.leaflet-popup .leaflet-popup-tip) {
    background-color: var(--color-dark--1);
  }

  :global(.leaflet-popup-content-wrapper) {
    border-left: 5px solid var(--color-brand--2);
  }
}
