.homepage {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: fit-content;
  padding: 120px 0;
  background-image:
    linear-gradient(rgba(36, 42, 46, 80%), rgba(36, 42, 46, 80%)),
    url("/bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;

  h1 {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 1.3;

    @include media-breakpoint-up($desktop) {
      font-size: 45px;
    }
  }

  .text {
    margin-bottom: 32px;
    color: var(--color-light--1);
    font-size: 16px;

    @include media-breakpoint-up($desktop) {
      font-size: 18px;
    }
  }
}
